.calID {
  border-radius: 10px;
}

.schedule {
  text-align: center;
    width: 80%;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 30px;

}

tbody tr td {
  border-radius: 10px;
  border-radius: 8px;
  padding: 5px;
}