
.contact-title {
  display: flex;
  justify-content: center;
  font-size: 30px;
  color: white;
  align-items: center;
}

/* #sectionAddress {
 
} */

.locationFrame {
  display: none;
  margin-top: 121px;
  
  width: 480px;
  margin-bottom: 27px;
 
  
}

.background {
 padding: 20px;
  background-color: #212529;
  height: 800px;
}

.logoMess {
 
    border-radius: 15px;
    height: 104px;
    margin-top: 30px;

  
}

.logoMess:hover {
  cursor: pointer;
  transform: scale(1.3);
  transition: 0.5s;
}

.logoMess:not(:hover) {
  transition: 0.5s;
}

.map {
  background-color: #212529;
  height: 459px;
  width: 300px;
  flex-direction: row;
  align-items: end;
  justify-content: center;
  align-content: space-around;
}



@media screen and (min-width: 400px) and (max-width: 500px) {
  

  .map { 
    margin: 0 auto;
  }

  .twoImages {
    margin-top: 60px;
  }

  #frameTelephoneDesign {
    width: fit-content;
    height: 180px;
  }
}

@media screen and (min-width: 300px) and (max-width: 500px){ 
  .flexImgLocation {
    display: flex;
    justify-content: center;
  }

  
}



.contact-info p {
  color: #ececec;
}

ul.contact-info {
  margin-top: 30px;
}

ul.contact-info li {
  margin-bottom: 22px;
}




ul.contact-info li {
  display: flex;
  width: 100%;
}

.info-left {
  width: 10%;
}

.info-left i {
  width: 30px;
  height: 30px;
  line-height: 30px;
  font-size: 30px;
  color: #ffffff;
}

.info-right h4 {
  color: #fff;
  font-size: 15px;
}

.swimmingClass {
  height: 71px;

  margin-top: 40px;
}

.twoImages {
  width: auto;
  display: flex;
  margin-left: 40px;
  
}

.oldImg {
  height: 81px;
    margin-right: 15px;
}

 .flexImgLocation{
  display: flex;
  
} 

.frameFit {
  display: flex;
    align-items: center;
    width: 100%;
    margin-top: 25px;
}




@media only screen and (max-width: 767px) {

  .thirdOffer { 
    width: 100%;
  }

  .contact-form {
    padding: 30px;
  }

  .contact-form:before {
    width: 100%;
  }


}

@media (min-width: 500px) {
  #itemTransform {
    opacity: 0;
    transform: translateX(-70%);
    transition: 0.8s;
  }

  #mapDiv  {
    opacity: 0;
    transform: translateX(80%);
    transition: 0.9s;
  }
}

@media (min-width: 768px) {

   /* .row {
    justify-content: center;
  } */
/* 
  .row>* {
    width: auto;
  } */ 

  .contact-info {
    padding: 0 30px 0px 0;
  }
  

  .locationFrame {
  display: block;
  margin-top: 85px;
  height: 350px;
  width: 400px;
  margin-bottom: 27px;
  
} 

.map {
  display: grid;
  background-color: #212529;
  height: 459px;
  width: 300px;
  margin-left: 130px;
  flex-direction: row;
  align-items: end;
  justify-content: center;
  align-content: space-around;
  
} 

.background {
  /* margin-bottom: -400px; */
}

.logoMess {
  margin-right: 100px;
  border-radius: 15px;
  height: 117px;

  
}

.swimmingClass {
  /* height: 125px; */
  height: 90px;
  margin-top: 25px;
  margin-left: -61px;
}

.contact-title {
  margin-top: 21px;
}

.twoImages {
  width: auto;
  display: flex;
  margin-left: 0;
  
}


}


.swimmingClass {
 
  animation: flicker 1s infinite;
}

@keyframes flicker {
  0% {
      opacity: 1;
  }
  5% {
      opacity: 0;
  }
  10% {
      opacity: 1;
  }
  15% {
      opacity: 0;
  }
  20% {
      opacity: 1;
  }
  
}



 
  
  
  /* #logoAndHeader.animate__animated.animate__bounceInLeft { 
    display: flex;
    opacity: 1; 
    animation-duration: 1.5s;
   
} */

@media (max-width: 360px) {
  #frameTelephoneDesign {
    width: 250px;
  }
}

@media (max-width: 375px) {
  .swimmingClass {
    height: 61px;
    margin-top: 40px;
  }
  
  .logoMess {
    border-radius: 15px;
    height: 85px;
    margin-top: 30px;
  }

  .map {
    width: 260px;
  }

  
}

 
  @media (max-width: 450px){ 
    
  #firstNumber {
    opacity: 0;
  }
  
  #secondNumber { 
    opacity: 0;
  }

  #thirdNumber {
    opacity: 0;
  }

  #fourthNumber {
    opacity: 0;
  }

  #alignText { 
    text-align: center;
    opacity: 0;
  }

  .animate__animated.animate__fadeInUp { 
    animation-duration: 2s;
  }

  #twoImg {
    display: flex;

  }

  }

  @media (min-width: 992px) {
    
    .background {
      height: 600px;
    }

    .locationFrame {
      display: block;
      margin-top: 85px;
      height: 350px;
      width: 470px;
      margin-bottom: 27px;
      
    } 

    .twoImages {
      width: 560px;
    }

    .swimmingClass {
      height: 90px;
      margin-top: 25px;
      margin-left: -61px;
    }


  }
 
  @media (min-width: 1100px) {
    .locationFrame {
      display: block;
      margin-top: 85px;
      height: 350px;
      width: 590px;
      margin-bottom: 27px;
      
    } 

    .twoImages {
      width: auto;
    }

    .swimmingClass {
      height: 125px;
      margin-top: 25px;
      margin-left: -61px;
    }
  }
