.headEvents {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

.imgForEvents {
  height: 224px;
  width: 80%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 100px;
}

.pInEvents {
  text-align: center;

}

table {
  box-shadow: 2px 0 10px black;
  margin-bottom: 20px;
  margin: 20px;
}

@media (min-width: 500px)  {
  table  {
    margin: 20px;
  }
}