.eventsBody {
  height: 100vh;
}

.headEvents {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 35px;
}

.imgForEvents {
  height: 224px;
  width: 80%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 100px;
}

.pInEvents {
  text-align: center;

}

table {
  box-shadow: 2px 0 10px black;
  margin-bottom: 20px;
  margin: 20px;
}

.first_last_names{
  font-size: 40px;
  text-align: center;
  margin-top: 30px;
 
}

@media (min-width: 500px)  {
  table  {
    margin: 20px;
  }
}

.input-box {
  position: relative;
  height: 76px;
  max-width: 100%;
  background: #fff;
  margin: 0 auto;
  border-radius: 8px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.input-box i,
.input-box .button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.input-box i {
  left: 20px;
  font-size: 30px;
  color: #707070;
}
.input-box input {
  height: 100%;
  width: 100%;
  outline: none;
  font-size: 18px;
  font-weight: 400;
  border: none;
  padding: 0 155px 0 65px;
  background-color: transparent;
}
.input-box .button {
  right: 20px;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  border: none;
  padding: 12px 30px;
  border-radius: 6px;
  background-color: #4070f4;
  cursor: pointer;
}
.input-box .button:active {
  transform: translateY(-50%) scale(0.98);
}
/* Responsive */
@media screen and (max-width: 500px) {
  .input-box {
    height: 59px;
    margin: 0 8px;
    margin-top: 60px;
  
  
  }
  .input-box i {
    left: 12px;
    font-size: 25px;
  }
  .input-box input {
    padding: 0 112px 0 50px;
  }
  .input-box .button {
    right: 12px;
    font-size: 14px;
    padding: 8px 18px;
  }
}

@media screen and (min-width: 500px){
  .input-box {
    max-width: 50%;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 50px;
  }
  
 
}