.headEvents {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

.imgForEvents {
  height: 224px;
  width: 80%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 100px;
}