.footer {
  background-color: black;
  padding: 20px;

}

#location {
  margin-top: 20px;
}

.tarnovoLogo {
  height: 40px;
  
}

.bulgarian-flag {
  margin-left: 10px;
  height: 25px;
}

.row-mt-5 {
  margin-top: -60px;
}

.fbAndSwimmer {
  display: flex;
    justify-content: space-between;
}

.swimmer{
  height: 91px;
  margin-bottom: 70px;
  
}




@media (min-width: 600px) {
      .footer {
        width: 100%;
        /* position: relative; */
        background-color: black;
        padding: 20px;
      }
}

@media (max-width:900px) {
  .container {
    display: flex;
    
  }

  .col.copyright {
    margin-top: 30px;
  }


}

@media (min-width: 900px) {
  .pt-5.pb-5.footer {
   
  }

  .swimmer{
    height: 127px;
    margin-top: -20px;
    margin-bottom: 1px;
  }

  .footer {
    /* top: 400px; */

  }
}