.divImg {
  width: 80%;
    display: flex;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
    margin: 0 auto;
    overflow-y: auto;
    margin-bottom: 20px;
    transition: 0.5s;
    display: none;

}

.imgGall {
  height: 200px;
    margin-top: 20px;
    display: block;
    margin-bottom: 20px;
    margin: 0 auto;
    margin-top: 20px;
}

.toggleButton {
  width: 80%;
  text-align: center;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 20px;
  background-color: color;
  color: black;
  padding: 5px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: white;
  font-weight: 600;
}

@media (min-width: 650px) {


.divImg {
    
      height: 350px;
      padding: 20px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      flex-direction: row;
      margin: 0 auto;
      margin-bottom: 20px;
      display: none;
      border: 2px solid black;
      margin-top: -21px;
      transition: 0.9s;
      overflow-x: auto;
      transition:  width 2s;
    


}

.imgGall {
  height: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin: 0 auto;
    margin-top: 20px;
    flex: 0 0 calc(25% - 10px);
   
}


}


