@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.divImg {
  width: 80%;
    display: flex;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
    margin: 0 auto;
    overflow-y: auto;
    margin-bottom: 20px;
    transition: 0.5s;
    display: none;

}

.header-year{
  font-family: 'Lobster', sans-serif;
}

.imgGall {
  height: 200px;
  width: 350px;
  object-fit: cover;
    margin-top: 20px;
    display: block;
    margin-bottom: 20px;
    margin: 15px auto;
    margin-top: 20px;
    gap: 20px;
    padding:10px;
}

.toggleButton {
  width: 25%;
  text-align: center;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  margin-top: -5px;
  margin-bottom: 60px;
  background-color: color;
  color: black;
  padding: 5px;
  background-color: white;
  font-weight: 600;
  border: 1px solid black;
}

.toggleButton {
  padding: 15px;
  font-size: 32px;
  color: white;
  height: 199px;
  width: 90%;
  background-position: center;
  background-size: cover;

}

.toggleButton:hover {
 
  transition: 0.5s;
}

.toggleButton:not(:hover) {
  transition: 0.5s;
}

.toggleButton:active,
.active {
  top: 2px;
  left: 1px;
	box-shadow: none;
}


.img-vector {
  width: 100%;
  height: 199px;
  object-fit: cover;

}

.overlay-text {
  text-shadow: 1px 1px 2px black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  max-width: 350px;
  width: 100%;
}

.containerGallery {
  box-shadow: 0 1px 14px #00000040;
    margin: 10px;
    padding-top: 1px;
    padding-bottom: 1px;
}

#containG {
  opacity: 0;
  animation-duration: 2s;
}

#containG:hover {
    transition: 0.5s;
    transform: scale(1.05);
}

#containG:not(:hover) {
    transition: 0.5s;
}


@media (max-width: 450px) {

  .containerGallery {
    box-shadow: 0 1px 14px #00000029;
    margin: 10px;
    padding-top: 1px;
    padding-bottom: 1px;
    margin-bottom: 45px;
    margin-top: 40px;
  }

  
  .header-year {
    text-align: center;
    margin-top: 40px;
    margin-bottom: -20px;
    font-size: 25px;
    color: black;
    box-shadow: 0 1px 5px;
    border-radius: 30px;
    width: 250px;
    margin: 20px auto;
    padding: 6px;
  }
}


@media (min-width: 450px) {

  .flexGal {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }

  #tog {
    height: 285px;
  }

  .header-year {
    text-align: center;
    margin-top: 40px;
    margin-bottom: -20px;
    font-size: 25px;
    color: black;
    box-shadow: 0 1px 5px;
    border-radius: 30px;
    width: 225px;
    margin: 20px auto;
    padding: 6px;
  }


}



@media (min-width: 600px) {

  .navbar-expand-sm .navbar-collapse {
    margin-left: 50px;
    display: flex!important;
    flex-basis: auto;
}


.divImg {
    
  height: 500px;
  padding: 20px;
  display: grid;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  margin: 0 auto;
  margin-bottom: 20px;
  display: none;
  border: 2px solid black;
  margin-top: -21px;
  transition: 0.9s;
  overflow-x: auto;
  transition: width 2s;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));



}

.imgGall {
  height: 240px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin: 0 auto;
    margin-top: 20px;
    flex: 0 0 calc(25% - 10px);
   
}

.flexGal {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr)); 
}


.img-vector { 
  height: 400px;
}


.toggleButton:hover {

  transition: 0.5s;
}

.toggleButton:not(:hover) {
  transition: 0.5s;
}

.toggleButton:active,
.active {
  top: 2px;
  left: 1px;
	box-shadow: none;
}



}

@media (min-width: 768px) { 
  #tog { 
    height: 430px;
  }

  .header-year {
    text-align: center;
    margin-top: 40px;
    margin-bottom: -20px;
    font-size: 32px;
    color: black;
    box-shadow: 0 1px 5px;
    border-radius: 30px;
    width: 325px;
    margin: 20px auto;
    padding: 8px;
  }


}

@media (min-width: 1100px) {
  .containerGallery {
    margin: 22px;
  }
}

@media (min-width: 1200px) {
  .flexGal {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
  }

 
}

@media (min-width: 1400px) {
  .containerGallery {
    margin: 28px;
  }
}

@media (min-width: 1600px) {

  .containerGallery {
    margin: 40px;
  }

  .flexGal {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(800px, 1fr));
  }
}


