

.nav-item .active {
  border-radius: 6px;

}

#neubar {
  
  background: rgb(245, 245, 245);
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    position: relative; /* Ensure the z-index property works */
    z-index: 1; 
    
  
}

#navbarNavDropdown { 
  margin-left: 20px;
}

#neubar .dropdown-menu a:hover {
  color: #454545;
}




.nav-link.mx-2{
  width: 199px;
  letter-spacing: 0.5px;
  text-decoration: none;
  border-radius: initial;
  color: black;
 
}

.nav-link.mx-2:hover {
  /* color: black; */
}



#neubar .dropdown-menu {
  background: #545454
}

a.navbar-brand {
  color: #454545
}

.logo {
 padding-left: 8px;
    width: 100%;
    height: 82px;
    margin-top: -20px;
    margin-bottom: -20px;
}

@media screen and (min-width: 992px) and (max-width: 1050px) {
  .logo {
    width: 250px;
  }
}

.logo:hover {
  text-decoration: none;
  color: #e7d172;
}


.nav-link.mx-2 {
  font-size: 18px;
  margin: 10px;
  /* border-radius: 15px; */
  width: 140px;
  color: white;
}


#togglerID, #menuReviews, #menu {
  width: 2em;

}

.navbar-light .navbar-toggler {
  border: none;
  border-color: 0;
}

.navbar-toggler.collapsed {

  border-color: 0;
  border: 0;
}

.navbar-toggler {
  border-color: 0;
  border: 0;

}



#xToggler,
#xxx,
#optionTwo, #xReviews {
  
  border: 0;
  width: 2em;
}



#xToggler {
  font-size: 28px;
  width: 2em;
  height: -0.5em;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  display: none;
  padding-left: 17px;

}

#optionTwo, #xReviews {
  font-size: 28px;
  width: 1em;
  height: -0.5em;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  display: none;
  padding-left: 17px;
}

#optionOne {
  font-size: 28px;
  width: 1em;
  height: -0.5em;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  
  padding-left: 10px;
}

#xxx, #xReviews  {
  font-size: 28px;
  height: -0.5em;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  display: none;
  padding-left: 17px;
  margin-left: -46px;
}

#menuReviews {
 
  height: -0.5em;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  
  padding-left: 17px;
  width: 2em;
  margin-left: 5px;
}

.navbar-toggler-icon {
  color: black;
}

@keyframes heartbeat {
  0% {
    transform: scale(1);
    transition: 0.8s;
  }
  10% {
    transform: scale(1.1);
    transition: 0.8s;
  }
  20% {
    transform: scale(1);
    transition: 0.8s;
  }
  30% {
    transform: scale(1.1);
    transition: 0.8s;
  }
  40% {
    transform: scale(1);
    transition: 0.8s;
  }
  50% {
    transform: scale(1.1);
    transition: 0.8s;
  }
  60% {
    transform: scale(1);
    transition: 0.8s;
  }
  70% {
    transform: scale(1.1);
    transition: 0.8s;
  }
  80% {
    transform: scale(1);
    transition: 0.8s;
  }
  90% {
    transform: scale(1.1);
    transition: 0.8s;
  }
  100% {
    transform: scale(1);
    transition: 0.8s;
  }

}

.heartbeat {
  animation: heartbeat 5s infinite;
  margin: 2px;

}


@media screen and (min-width: 400px) and (max-width: 500px) {
  .nav-link.mx-2  {
    width: 155px;
  }

  #neubar {
    background: rgb(245, 245, 245);
    padding-top: 30px;
    padding-bottom: 25px;
    width: 100%;
    position: relative;
    z-index: 1;
  }
}



@media (min-width: 500px) {
  
  .nav-link.mx-2.btnStyle {
    text-align: center;
    color: white;
  }
  .nav-link.mx-2.btnStyle:hover {
    color: #00C9FF;

  }
}

@media (min-width: 650px) {
  .nav-link.mx-2 {
    width: 160px;
    border-radius: initial;
  }

  .nav-link.mx-2.btnStyle {
    text-align: center;
    /* color: white; */
  }

  .nav-link.mx-2.btnStyle:hover {
    /* color: #00C9FF; */

  }
 
}

@media (min-width: 1100px) {
  #neubar {
    /* margin-top: 15px; */
    padding: 10px;
    /* background-color: rgb(207, 207, 207, 0.3); */
    padding-top: 20px;
    padding-bottom: 20px;

    width: 100%;
  }

  #headerCKP { 
    width: 220px;
  }

 
  

  @keyframes heartbeat {
    0% {
      transform: scale(1);
      transition: 0.8s;
    }
    10% {
      transform: scale(1.2);
      transition: 0.8s;
    }
    20% {
      transform: scale(1);
      transition: 0.8s;
    }
    30% {
      transform: scale(1.2);
      transition: 0.8s;
    }
    40% {
      transform: scale(1);
      transition: 0.8s;
    }
    50% {
      transform: scale(1.2);
      transition: 0.8s;
    }
    60% {
      transform: scale(1);
      transition: 0.8s;
    }
    70% {
      transform: scale(1.2);
      transition: 0.8s;
    }
    80% {
      transform: scale(1);
      transition: 0.8s;
    }
    90% {
      transform: scale(1.2);
      transition: 0.8s;
    }
    100% {
      transform: scale(1);
      transition: 0.8s;
    }
  }
}