

.nav-item .active {
  border-radius: 6px;
  
}

#neubar {
  box-shadow: 0 0 3px black;
}

#neubar .dropdown-menu a:hover {
  color: #454545
}
#neubar .nav-item {
  margin : auto 4px;
}
#neubar a {
  
  padding-left:12px;
  padding-right:12px;
}
#neubar .dropdown-menu {
  background : #545454
}
a.navbar-brand {
  color: #454545
}

.logo {
  width: 258px;
    height: 81px;
    margin: -7px;
    margin-left: -23px;
}



.nav-link.mx-2:hover {

  background-color: black;
  color: white;
  transition: 0.5s;
  font-size: 17px;
}

.nav-link.mx-2:not(:hover) {
  transition: 0.5s ;
}

#togglerID,#menu {
  width: 2em;
  border: none;
}

.navbar-toggler.collapsed {
  border: none;
}

.navbar-toggler { 
  border: none;

}



#xToggler,#xxx {
  width: 2em;
  
}



#xToggler {
  font-size: 28px;
  width: 2em;
  height: -0.5em;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  display: none;
  padding-left: 17px;

}

#xxx {
  font-size: 28px;
  width: 2em;
  height: -0.5em;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  display: none;
  padding-left: 17px;
}





