.news {
  display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.addNews {
  background-repeat: no-repeat;
  background-position: center;
  height: 300px;
  width: 300px;
  margin: 50px;
  gap: 30px;
  border: 2px solid black;
  box-shadow: 3px 5px 5px black;
  border-radius: 8px;
  
}

.headerNews {
  font-size: 32px;
    padding: 34px;
    color: white;
    text-shadow: 2px 2px 3px black;
}

@media (min-width: 1000px) {
  .addNews {
    background-repeat: no-repeat;
    background-position: center;
    height: 300px;
    width: 450px;
    margin-top: 35px;
    gap: 30px;
    border: 2px solid black;
    margin-bottom: 50px;
  }
}