.news {

  display: flex;
  flex-direction: column;
  justify-content: space-between;
 
}

.addNews {
  background-size: cover;
  height: 225px;
  width: 100%;

  display: flex;
  justify-content: center;

 
}

.header u {
  text-decoration: none;
}

.hrLine {
  color: black;
    text-align: center;
    width: 311px;
    margin: 0 auto;
}

.headerNews {

  font-size: 24px;
    width: 100%;
    display: flex;
    color: black;
    align-content: space-between;
    justify-content: space-evenly;
    align-items: baseline;
    text-align: center;
}

.formStyles {
  display: flex;
  border: 2px solid black;
  padding: 15px;
  margin: 15px;
  box-shadow: 2px 2px 4px black;
  border-radius: 8px;
  flex-direction: row;
  align-content: flex-start;
  justify-content: space-evenly;
  align-items: flex-start;
}

.labelNews {
  font-size: 20px;
}

#title,
#link,#titleBlog {
  margin-top: 10px;
  border-radius: 15px;
  font-size: 15px;
  height: 45px;
  padding: 15px;
  border: 1px solid black;
  width: 421px;
}

#image {

  font-size: 15px;
  margin: 5px;
  height: 35px;
  padding: 2px;

}

.btnSubmitArticle {
  border-radius: 8px;
  font-size: 18px;
  color: black;
  background: white;
  padding: 5px;
  margin: 20px;
}

.textMandatory {
  color: red;
  font-weight: 700;
  font-size: 20px;
}

.btnSubmitArticle:hover {
  transition: 0.5s;
  background-color: black;
  color: white;
}

.btnSubmitArticle:not(:hover) {
  transition: 0.5s;
}

.newsMainPageBody {
  /* background-color: rgb(0, 55, 255, 0.7); */



  /* background: linear-gradient(90deg, rgb(136 202 255) 0%, rgba(59,179,255,1) 100%);  */
  
}

.textareaMain {
  padding: 6px;
  border-radius: 15px;
  box-shadow: 3px 3px 8px black;
}

.divVision {
  line-height: 1.0;
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

u { 
  text-decoration: none;
}

/* #content {
  width: 100%;
    height: 250px;
  padding: 15px; */
/* } */

.boxBlog {
  height: 398px;
  border: 1px solid black;
  margin-bottom: 15px;
  margin: 15px auto;
  width: 87%;
  display: flex;
  flex-direction: column;

}

.btnh1 {
  background: transparent;
  border: none;
  font-size: 34px;
  outline: none;
  color: grey;
  margin: 5px;

}

.btns {
  display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 15px;
}

@media (min-width: 650px) {

  .news {
  
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 0 0 calc(25.33%  - 10px);

  
  }

  .headerNews {
    font-size: 30px;
   width: 100%;
   display: flex;
   color: black;
   align-content: space-between;
   justify-content: space-evenly;
   align-items: baseline;
   text-align: center;
}


  

  .boxBlog {
    height: 398px;
    border: 1px solid black;
    margin-bottom: 15px;
    margin: 15px auto;
    width: 400px;
    
    
  }

  
  .addNews {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 260px;
    width: 100%;
   
  }

  
  
  .header u {
    text-decoration: none;
  }
  







  }
  





  
  
  .formStyles {
    display: flex;
    border: 2px solid black;
    padding: 15px;
    margin: 15px;
    box-shadow: 2px 2px 4px black;
    border-radius: 8px;
    flex-direction: row;
    align-content: flex-start;
    justify-content: space-evenly;
    width: 160vh;
    align-items: center;
  }






  
