@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

.news {

  display: flex;
  flex-direction: column;
  justify-content: space-between;
 
}

.addNews {
  background-size: cover;
  height: 225px;
  width: 100%;

  display: flex;
  justify-content: center;

 
}

.header u {
  text-decoration: none;
}

.hrLine {
  color: black;
    text-align: center;
    width: 95%;
    margin: 0 auto;
}

.headerNews {

  font-size: 20px;
  width: 100%;
  display: flex;
  color: black;
  align-content: space-between;
  justify-content: space-evenly;
  align-items: baseline;
  text-align: center;
  margin-top: -11px;
  height: 65px;
font-family: 'Comfortaa', sans-serif;
font-weight: 600;
}

.articleDate {
    font-family: 'Comfortaa', sans-serif;
}

.style-Substring {
  font-size: 15px;
  font-family: 'Comfortaa', sans-serif;
  padding-left: 25px;
  margin-top: 15px;
}

.formStyles {
  display: flex;
  border: 2px solid black;
  padding: 15px;
  margin: 15px;
  box-shadow: 2px 2px 4px black;
  border-radius: 8px;
  flex-direction: row;
  align-content: flex-start;
  justify-content: space-evenly;
  align-items: flex-start;
}

.labelNews {
  font-size: 20px;
}

#title,
#link,#titleBlog, #article_date, #numberOfViews, #subTitle, #subTitleSet {
  margin-top: 10px;
  border-radius: 15px;
  font-size: 15px;
  height: 45px;
  padding: 15px;
  border: 1px solid black;
  width: 421px;
}

#image {

  font-size: 15px;
  margin: 5px;
  height: 35px;
  padding: 2px;

}

.btnSubmitArticle {
  border-radius: 8px;
  font-size: 18px;
  color: black;
  background: white;
  padding: 5px;
  margin: 20px;
}

.textMandatory {
  color: red;
  font-weight: 700;
  font-size: 20px;
}

.btnSubmitArticle:hover {
  transition: 0.5s;
  background-color: black;
  color: white;
}

.btnSubmitArticle:not(:hover) {
  transition: 0.5s;
}


.textareaMain {
  padding: 6px;
  border-radius: 15px;
  box-shadow: 3px 3px 8px black;
  height: 100px;
}

.divVision {
  line-height: 1.0;
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

u { 
  text-decoration: none;
}


.boxBlog {
  height: 452px;
  box-shadow: 0 0 1px 1px black;
  margin-bottom: 15px;
  margin: 15px auto;
  width: 87%;
  display: flex;
  flex-direction: column;

}

.btnh1 {
  background: transparent;
  border: none;
  font-size: 34px;
  outline: none;
  color: grey;
  margin: 5px;

}

.btns {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}


.change {
  display: flex;
  justify-content: flex-end;
  margin: 24px;
  margin-left: 10px;
}

.podZaglavie{ 
      text-align: justify;
    font-size: 15px;
    margin-left: 10px;
    margin-bottom: -30px;
    padding-right: 20px;

font-family: 'Comfortaa', sans-serif;    
}

.flexDate {
   height: 87px; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 10px;
    margin-bottom: -30px;
}

.numberViews {
  margin-left: 3px;
    margin-top: -3px;
    font-family: 'Comfortaa', sans-serif;
}

.boxBlog:hover{ 
  box-shadow: 1px 1px 1px 2px black;
  transition: 0.5s;
  transform: scale(1.03);
}

.boxBlog:not(:hover) {
  transition: 0.5s;
}

@media (min-width: 650px) {

  .news {
  
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    padding: 40px;

  
  }

  .headerNews {
    font-size: 24px;
   width: 100%;
   display: flex;
   color: black;
   align-content: space-between;
   justify-content: space-evenly;
   align-items: baseline;
   text-align: center;
   height: 94px;
}


  

  .boxBlog {
    box-shadow: 0 0 1px 1px rgb(56, 56, 56);
    height: 624px;
    margin-bottom: 15px;
    margin: 15px auto;
    width: 401px;
  
  }

  
  .addNews {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 350px;
    width: 100%;
   
  }

  
  
  .header u {
    text-decoration: none;
  }
  

  }
  

  .formStyles {
    display: flex;
    border: 2px solid black;
    padding: 15px;
    margin: 15px;
    box-shadow: 2px 2px 4px black;
    border-radius: 8px;
    flex-direction: row;
    align-content: flex-start;
    justify-content: space-evenly;
    align-items: center;
  }

 .articleText {
  width: 50%;
 }
