.news {

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.addNews {
  height: 300px;
  width: 300px;
  margin: 35px;
  gap: 30px;
  display: flex;
  justify-content: center;
  background-repeat: no-repeat;
  background-position: center;
 box-shadow: 2px 0 10px black;
 border-radius: 8px;
}

.header u {
  text-decoration: none;
}

.headerNews {
  margin-bottom: -20px;
    font-size: 30px;
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 15px;
    display: flex;
    color: white;
    text-shadow: 2px 2px 3px black;
    align-content: space-between;
    justify-content: space-evenly;
    align-items: baseline;
    text-align: center;
}

.formStyles {
  display: flex;
  border: 2px solid black;
  padding: 15px;
  margin: 15px;
  box-shadow: 2px 2px 4px black;
  border-radius: 8px;
  flex-direction: row;
  align-content: flex-start;
  justify-content: space-evenly;
  align-items: flex-start;
}

.labelNews {
  font-size: 20px;
}

#title,
#link,#titleBlog {
  margin-top: 10px;
  border-radius: 15px;
  font-size: 15px;
  height: 45px;
  padding: 15px;
  border: 1px solid black;
  width: 421px;
}

#image {

  font-size: 15px;
  margin: 5px;
  height: 35px;
  padding: 2px;

}

.btnSubmitArticle {
  border-radius: 8px;
  font-size: 18px;
  color: black;
  background: white;
  padding: 5px;
  margin: 20px;
}

.textMandatory {
  color: red;
  font-weight: 700;
  font-size: 20px;
}

.btnSubmitArticle:hover {
  transition: 0.5s;
  background-color: black;
  color: white;
}

.btnSubmitArticle:not(:hover) {
  transition: 0.5s;
}

.newsMainPageBody {
  background-color: rgb(0, 55, 255, 0.7);



  /* background: linear-gradient(90deg, rgb(136 202 255) 0%, rgba(59,179,255,1) 100%);  */
  
}

.textareaMain {
  padding: 6px;
  border-radius: 15px;
  box-shadow: 3px 3px 8px black;
}

.divVision {
  line-height: 1.0;
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

u { 
  text-decoration: none;
}

/* #content {
  width: 100%;
    height: 250px;
  padding: 15px; */
/* } */

@media (min-width: 1000px) {
  .addNews {
    background-repeat: no-repeat;
    background-position: center;
    height: 300px;
    width: 450px;
    margin-top: 50px;
    gap: 30px;
    margin-bottom: 50px;
  }

  .news {
  
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .addNews {
    display: flex;
    justify-content: center;
    background-repeat: no-repeat;
    background-position: center;
    height: 300px;
    width: 410px;
    margin: 50px;
   
   
  }
  
  
  .header u {
    text-decoration: none;
  }
  
  .headerNews {
    margin-bottom: -20px;
    font-size: 30px;
    width: 500px;
    padding-left: 50px;
    margin-top: 15px;
    display: flex;
    color: white;
    text-shadow: 2px 2px 3px black;
    align-content: center;
    align-items: baseline;
    justify-content: center;
    text-align: center;
  }
  
  .formStyles {
    display: flex;
    border: 2px solid black;
    padding: 15px;
    margin: 15px;
    box-shadow: 2px 2px 4px black;
    border-radius: 8px;
    flex-direction: row;
    align-content: flex-start;
    justify-content: space-around;
    align-items: flex-start;
    width: 160vh;
  }
}