
.imgSchedule {
  display: flex;
  width: 80%;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 30px;
}

.scheduleText { 
  margin-top: -40px;
  font-size: 15px;
  padding: 20px;
}

.headersScheduleMain {
  text-align: center;
}

@media (min-width: 600px) {
  .twoDivs {
    display: flex;
    justify-content: center;
  }

  .imgSchedule{
    width: 500px;
  }

}

@media (min-width: 800px) {

  .twoDivs {
    display: flex;
    justify-content: space-around; 
  }

  .imgSchedule{
    width: 650px;
    margin: 25px;
  }

  .scheduleText { 
    font-size: 15px;
    padding: 20px;
  }
 
  

}