html {
  padding: 0;
  margin: 0;
  height: 100vh;
}

body {
  background-color: white;
  height: 100vh;
  font-family: 'Mooli', sans-serif;
}

.img-belowMenu {
  background: url(/images/swim.jpg);
  background-position: center;
  
  height: 350px; 

}

.first-two-divs {
  display: flex;
  flex-direction: column; 
}

.boxOne {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}


.boxTwo {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.boxThree {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.firstIMG {
  width: 80%;
  margin: 0 auto;
  margin-top: 25px;
  height: 175px;
  padding: 15px;
  background-image: url(/images/test1.jpg);
  background-size: cover;
  box-shadow: 3px 3px 5px black;
  border-radius: 6px;
  margin-top: 20px;
}

.imgP{
  display: flex;
  align-items: baseline;
  flex-direction: row-reverse;
  align-content: flex-end;
  list-style: none;
  color: white;
  font-size: 22px;
  justify-content: center;
  text-shadow: 0 0 1px white;
  font-weight: 450;
    
}


.secondIMG {
  width: 80%;
  margin: 0 auto;
  margin-top: 25px;
  height: 175px;
  padding: 15px;
  background-image: url(/images/test1.jpg);
  background-size: cover;
  box-shadow: 3px 3px 5px black;
  border-radius: 6px;
  margin-top: 20px;
}

.secondP {
  display: flex;
    align-items: baseline;
    flex-direction: row-reverse;
    align-content: flex-end;
    list-style: none;
    color: white;
    font-size: 22px;
    justify-content: center;
    text-shadow: 0 0 1px white;
    font-weight: 700;
}

.anchorStyle {
  margin-left: -10px;
    margin-right: -10px;
  text-decoration: none;
  flex: 1;
}

.thirdIMG {
  width: 80%;
  margin: 0 auto;
  margin-top: 25px;
  height: 175px;
  padding: 15px;
  background-image: url(/images/test1.jpg);
  background-size: cover;
  box-shadow: 3px 3px 5px black;
  border-radius: 6px;
  margin-top: 20px;

}

.thirdP {
  display: flex;
  align-items: baseline;
  flex-direction: row-reverse;
  align-content: flex-end;
  list-style: none;
  color: white;
  font-size: 22px;
  justify-content: center;
  text-shadow: 0 0 1px black;
  font-weight: 550;
  width: 100%;
  
}

.fourthIMG {
  width: 80%;
  margin: 0 auto;
  margin-top: 25px;
  height: 175px;
  padding: 15px;
  background-image: url(/images/test1.jpg);
  background-size: cover;
  box-shadow: 3px 3px 5px black;
  border-radius: 6px;
  margin-top: 20px;

}

.fourthP {
  display: flex;
  align-items: baseline;
  flex-direction: row-reverse;
  align-content: flex-end;
  list-style: none;
  color: white;
  font-size: 22px;
  justify-content: center;
  text-shadow: 0 0 1px black;
  font-weight: 550;
  font-size: 25px;
  
  
}


.offer{
  margin-top: 40px;
  width: 100%;
  height: 1900px;
  background-color: rgb(0, 55, 255, 0.7);

}

.whoFor {
  margin-top: 40px;
  width: 100%;
  height: 400px;
  
}
.ourOffer { 
  width: 100%;
    display: flex;
    padding-top: 15px;
    justify-content: center;
    font-weight: bold;
    color: white;
    font-size: 39px;
    text-shadow: 1px 0 2px black;
    letter-spacing: 1px;
}

.courses {
  width: 300px;
    margin: 0 auto;
    font-size: 22px;
    font-weight: 600;
    margin-top: 25px;
    padding: 0px;
    font-weight: bold;
    color: white;
    text-shadow: 1px 0 2px black;
    letter-spacing: 1px;
}

.kidsAge {
  width: 300px;
  margin: 0 auto;
  font-size: 22px;
  font-weight: 600;
  margin-top: 10px;
  color: black;
  
}



.sixYearsOld {
  height: 140px;
  margin: 0 auto;
  display: flex;
  margin-top: 30px;
}



.whoForDiv {
  width: 300px;
  margin: 0 auto;
  height: 400px;
  margin-top: 50px;
  
}

.headerWhoFor {
  margin-top: 50px;
  width: 300px;
  margin: 0 auto;
}

.headerContacts { 
  width: 150px;
    margin: 0 auto;
    padding-top: 80px;
    font-size: 35px;
}

.address {
  width: 300px;
  margin: 0 auto;
  display: flex;
  margin-top: 45px;
  flex-direction: column;
  align-items: center;
  font-size: 24px;
  font-weight: 600;
}


.addressText {
  width: 300px;
  margin: 0 auto;
  display: flex;
  margin-top: 30px;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
  line-height: 1.5;
}




.contacts {
  margin-top: 20px;
  width: 100%;
  background-color: #ffbc00bf;
  height: 1000px;
  padding-top: 20px;
}

.phoneNumbers {
  display: flex;
  justify-content: space-evenly;
  margin-top: 45px;
}




.beneffits {
  color: black;
  margin-top: 25px;
  width: 320px;
  margin: 0 auto;
  padding-top: 20px;
  font-size: 18px;
  font-weight: 600;
  display: flex;
}

.secondOffer {
  margin-top: 50px;
}



.beneffits ul li{
  width: 100%;
  margin-top: 23px;
  list-style: none;
  font-size: 20px;
  font-weight: bold;
  color: white;
  text-shadow: 1px 0 2px black;
  letter-spacing: 1px;
}

.cloud {
  height: 360px;
  width: 100%;
  transform: scale(1.5);
  margin-left: 15px;
}

.btnSignIn {
  width: 200px;
  margin: 40px auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 8px;
  font-size: 18px;
  border-radius: 8px;
  font-weight: 700;
  background-color: black;
  color: white;
  box-shadow: 5px 5px 5px black;
  height: 50px;
}

.textSwimming {
  height: 500px;
  margin-top: 10px;
  padding: 25px;
  letter-spacing: 1.5px;
  line-height: 1.8;
}

.learnMore {
  background-color: black;
  color: white;
  box-shadow: 5px 5px 5px black;
  
}


@media (min-width: 920px ) {

  .boxOne {
    padding-left: 100px;
    padding-right: 100px;
  }

  .boxTwo {
    padding-left: 100px;
    padding-right: 100px;
    margin-top: 30px;
  }

  .boxThree {
    padding-left: 100px;
    padding-right: 100px;
    margin-top: 30px;
  }

  .firstIMG, .secondIMG, .thirdIMG, .fourthIMG {
    height: 240px;
  }

  .threeDivs {
    display: none;
  justify-content: space-evenly;
  align-items: center;
  
  }

  .secondThreeDivs {
    display: none;
  justify-content: space-evenly;
  align-items: center;
  }
  

}

