html {
  padding: 0;
  margin: 0;
  height: 100vh;
}

body {
  background-color: white;
  height: 100vh;
  font-family: 'Mooli', sans-serif;

}

#navBtn {
  border: none;
}

.logo {
  font-weight: 700;
    letter-spacing: 1.5px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 0px;
    font-size: 26px;
    text-decoration: none;
    color: #e7d172;

}

.img-belowMenu {
  background: url(/images/swim.jpg);
  background-position: center;

  height: 350px;

}

.first-two-divs {
  display: flex;
  flex-direction: column;
}

.boxOne {

  display: flex;
  justify-content: space-evenly;
  align-items: center;
}


.boxTwo {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.boxThree {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.firstIMG {
  width: 90%;
  margin: 0 auto;
  margin-top: 25px;
  height: 175px;
  padding: 15px;
  background-image: url(/images/deca.jpg);
  background-size: cover;
  margin-top: 20px;
  background-position: center;
  transform: scale(1.0);

}

.firstIMG:hover, .secondIMG:hover, .thirdIMG:hover, .fourthIMG:hover, .fifthIMG:hover, .sixthIMG:hover {
  transform: scale(1.1);
  transition: 0.7s;

}

.firstIMG:not(:hover), .secondIMG:not(:hover), .thirdIMG:not(:hover), .fourthIMG:not(:hover), .fifthIMG:not(:hover), .sixthIMG:not(:hover) {
  transition: 0.7s;
}



.imgP {
  display: flex;
  align-items: baseline;
  flex-direction: row-reverse;
  align-content: flex-end;
  list-style: none;
  color: white;
  font-size: 25px;
  justify-content: center;
  text-shadow: 2px 2px 3px black;
  font-weight: 550;
}


.secondIMG {
  width: 90%;
  margin: 0 auto;
  margin-top: 25px;
  height: 175px;
  padding: 15px;
  background-image: url(/images/poyas.jpg);
  background-size: cover;
  margin-top: 20px;
  background-position: center;
}

.secondIMG:hover {
  transition: 0.5s;

}

.secondIMG:not(:hover) {
  transition: 0.5s;
}

.secondP {
  display: flex;
  align-items: baseline;
  flex-direction: row-reverse;
  align-content: flex-end;
  list-style: none;
  color: white;
  font-size: 28px;
  justify-content: center;
  text-shadow: 2px 2px 3px black;
  font-weight: 700;
}

.anchorStyle {
  
  text-decoration: none;
  flex: 1;
}

.thirdIMG {
  width: 90%;
  margin: 0 auto;
  margin-top: 25px;
  height: 175px;
  padding: 15px;
  background-image: url(/images/pluvec.jpg);
  background-size: cover;
  margin-top: 20px;
  background-position: center;

}

.thirdP {
  display: flex;
  align-items: baseline;
  flex-direction: row-reverse;
  align-content: flex-end;
  list-style: none;
  color: white;
  font-size: 28px;
  justify-content: center;
  text-shadow: 2px 2px 3px black;
  font-weight: 550;
  width: 100%;

}

.fourthIMG {
  width: 90%;
  margin: 0 auto;
  margin-top: 25px;
  height: 175px;
  padding: 15px;
  background-image: url(/images/olympicGames.jpg);
  background-size: cover;
  margin-top: 20px;
  background-position: center;
}

.fourthP {
  display: flex;
  align-items: baseline;
  flex-direction: row-reverse;
  align-content: flex-end;
  list-style: none;
  color: white;
  font-size: 22px;
  justify-content: center;
  text-shadow: 2px 2px 3px black;
  font-weight: 550;
  font-size: 25px;


}

.fifthIMG {
  width: 90%;
    margin: 0 auto;
    margin-top: 25px;
    height: 175px;
    padding: 15px;
    background-image: url(/images/galerry.jpg);
    background-size: cover;
    background-position: right -250px center;
    margin-top: 20px; 
}

.sixthIMG {
  width: 90%;
  margin: 0 auto;
  margin-top: 25px;
  height: 175px;
  padding: 15px;
  background-image: url(/images/vtoriPluvec.jpg);
  background-size: cover;
  margin-top: 20px;
  background-position: center;
}


.offer {
  margin-top: 40px;
  width: 100%;
  height: 1830px;
  background-color: rgb(0, 55, 255, 0.7);

}

.whoFor {
  margin-top: 40px;
  width: 100%;
  height: 400px;

}

.ourOffer {
  width: 100%;
  display: flex;
  padding-top: 15px;
  justify-content: center;
  font-weight: bold;
  color: white;
  font-size: 39px;
  text-shadow: 1px 0 2px black;
  letter-spacing: 1px;
}

.courses {
  width: 300px;
  margin: 0 auto;
  font-size: 22px;
  font-weight: 600;
  margin-top: 25px;
  padding: 0px;
  font-weight: bold;
  color: white;
  text-shadow: 1px 0 2px black;
  letter-spacing: 1px;
}

.kidsAge {
  display: flex;
    justify-content: center;
 
    font-size: 22px;
    font-weight: 600;
    margin-top: 10px;
    color: black;

}



.sixYearsOld {
  height: 166px;
  margin: 0 auto;
  display: flex;
  margin-top: 30px;
}

.tenYearsOld {
  height: 166px;
  margin: 0 auto;
  display: flex;
  margin-top: 30px;
 
}




.whoForDiv {
  width: 300px;
  margin: 0 auto;
  height: 400px;
  margin-top: 50px;

}



.headerWhoFor {
  width: 300px;
  margin: 0 auto;
  font-weight: bold;
  color: white;
  font-size: 25px;
  text-shadow: 1px 0 2px black;
  letter-spacing: 1px;
  line-height: 1.5;
}

.headerContacts {
  width: 150px;
  margin: 0 auto;
  padding-top: 80px;
  font-size: 35px;
  color: white;
  text-shadow: 1px 0 2px black;
  letter-spacing: 1px;
  line-height: 1.5;

}

.address {
  width: 300px;
  margin: 0 auto;
  display: flex;
  margin-top: 45px;
  flex-direction: column;
  align-items: center;
  font-size: 24px;
  font-weight: 600;
  color: white;
  font-size: 25px;
  text-shadow: 1px 0 2px black;
  letter-spacing: 1px;
  line-height: 1.5;
}


.addressText {
  width: 300px;
  margin: 0 auto;
  display: flex;
  margin-top: 30px;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
  line-height: 1.5;
  color: white;
  font-size: 24px;
  text-shadow: 1px 0 2px black;
  letter-spacing: 1px;

}




.contacts {
  display: none;
  margin-top: 20px;
  width: 100%;
  /* background-color: rgb(0, 55, 255, 0.7); */
  background-color: currentColor;
  ;
  height: 1250px;
  padding-top: 20px;
}

.phoneNumbers {
  width: 100%;
  margin: 0 auto;
  padding-top: 38px;
  font-size: 25px;
  color: white;
  text-shadow: 1px 0 2px black;
  letter-spacing: 1px;
  line-height: 1.5;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: flex-start;
  align-items: center;
}




.beneffits {
  color: black;
  margin-top: 25px;
  width: 320px;
  margin: 0 auto;
  padding-top: 20px;
  font-size: 18px;
  font-weight: 600;
  display: flex;
}

.beneffits10yearsOld {
  color: black;
  margin-top: 25px;
  width: 320px;
  margin: 0 auto;
  padding-top: 20px;
  font-size: 18px;
  font-weight: 600;
  display: flex;
}

.beneffits10yearsOld ul li{
  width: 100%;
  margin-top: 23px;
  list-style: none;
  font-size: 20px;
  font-weight: bold;
  color: white;
  text-shadow: 1px 0 2px black;
}





.beneffits ul li {
  width: 100%;
  margin-top: 23px;
  list-style: none;
  font-size: 20px;
  font-weight: bold;
  color: white;
  text-shadow: 1px 0 2px black;
  
}

.cloud {
  height: 360px;
  width: 100%;
  transform: scale(1.5);
  margin-left: 15px;
}

.btnSignIn {
  width: 200px;
  margin: 40px auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 8px;
  font-size: 18px;
  border-radius: 8px;
  font-weight: 700;
  background-color: black;
  color: white;
  box-shadow: 5px 5px 5px black;
  height: 50px;
}

.textSwimming {
  height: 690px;
  margin-top: 10px;
  padding: 25px;
  letter-spacing: 1.5px;
  line-height: 1.8;
  margin-bottom: 150px;
}

.textSwimming p {
  font-size: 19px;
  display: flex;
  
}

.learnMore {
  background-color: black;
  color: white;
  box-shadow: 5px 5px 5px black;

}

.fab.fa-facebook-messenger {
  font-size: 100px;
}

.fab.fa-facebook-messenger:hover {
  font-size: 120px;
  transition: 0.5s;
}

.messenger {
  display: flex;
  width: 174px;
  margin: 0 auto;
  margin-top: 50px;

}

.messenger:hover {
  width: 195px;
  transition: 0.5s;
}

.messenger:not(:hover) {
  transition: 0.5s;
}

.writeToUs {
  width: 295px;
  margin: 0 auto;
  padding: 20px;
  font-weight: 700;

}

.write {
  margin-top: 15px;
  color: white;
  font-size: 18px;
  text-shadow: 1px 0 2px black;
  letter-spacing: 1px;
  line-height: 1.5;
  width: 280px;
}

.secondOffer {
  margin-right: 1px;
  margin-left: 1px;
}

.ourValues {
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  font-size: 25px;
}

.skills {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.phoneBackground {
  background-color: black;
  padding: 5px;
  box-shadow: 5px 5px 5px black;
  border-radius: 8px;
}

.futureEvents {
  
    margin: 0 auto;
    width: 100%;
    height: 200px;
}

.imageFforBlogs {
  width: 93%;
    display: flex;
    margin: 0px auto;
    margin-bottom: 20px;
}

.navbar-toggler-icon {
  color: black;
}

.divBlog p{
  height: auto;
  line-height: 1.8;
  padding: 22px;
  letter-spacing: 1.4px;
}

.divBlog h3 {
  text-align: center;
  line-height: 1.5;
  margin: 0 auto;
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  margin-bottom: 20px;


}

.oldImage {
  height: 52px;
  margin-left: -15px;
}

.navbar-light .navbar-nav {
  color: white;
}

/* CSS FOR THE NEW BLOG ARTICLES */


@media (min-width: 450px) {
  .btnStyle {
    padding: 0.5em 1em;
    background-color: #0ebac5;
    border: none;
    user-select: none;
    cursor: pointer;
    font-size: 20px;
    text-transform: uppercase;
    transition: all 0.5s linear;
    color: #fff;
    position: relative;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    border-radius: initial;
    position: relative;
}

.btnStyle:hover::after, .btnStyle:hover::before {
    content: '';
    background: linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%);
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0;
    z-index: -1;

    animation: move-right-side 1s ease infinite;
}

.btnStyle:hover::before {
    background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
    inset: 0;
    animation: move-left-side 1s ease infinite;
    z-index: -2;
}

.btnStyle:hover {
    background-color: #fff;
    color: white;
}

.nav-link.mx-2{
  color: white;
}



@keyframes move-right-side {
    0% {
        inset: 0.3em 0 0 0.3em; /*top | left */
    }

    33% {
        inset: 0 0.3em 0.3em 0; /*right| bottom*/
    }
        
    66% {
        /* top | right | bottom | left */
        inset: 1em 0 0 0.5em; /*top | right */
    }

    100% {
        inset:0  1em 0.5em 0;
    }
}

/* Move left Side */

@keyframes move-left-side {
    0% {
        right: -1em;
        top: -0.5em;
    }

    33% {
        bottom: -1em;
        left: -0.5em;
    }

    66% {
        top: 0;
        right:-0.7;
    }

    100% {
        right: -1em;
        top: -0.5em;
    }
}
}

@media (min-width: 650px) {
  .divBlog p {
    height: 228px;
    line-height: 1.8;
    padding: 22px;
    letter-spacing: 1.4px;
  }

  .imageFforBlogs {
    width: 70%;
  }
}


@media (min-width: 900px) {
  .divBlog p {
    height: 228px;
    line-height: 2.5;
    padding: 22px;
    letter-spacing: 1.4px;
    padding-left: 131px;
    padding-right: 130px;
  }

  .imageFforBlogs {
    height: 300px;
    width: 50%;
  }

  .divBlog h3 {
    width: 50%;
  }

}

@media (min-width: 1250px) {
  .divBlog p {
    margin-bottom: -330px;
    height: 100%;
    line-height: 2.5;
    padding: 26px;
    letter-spacing: 1.4px;
    padding-left: 290px;
    padding-right: 280px;
  }

  .oldImage {
    height: 70px;
    margin-right: 8px;
  }

  .logo {
    padding-left: 8px;
    width: 311px;
    height: 81px;
    margin: -20px;
    margin-left: -20px;
  }

  .imageFforBlogs {
    height: 346px;
    width: 559px;
    box-shadow: 2px 0 10px black;
  }

  .fifthIMG {
    background-position: center;
  }

  .sixYearsOld {
    height: 180px;
  }

  .tenYearsOld {
    height: 180px;
    margin: 0 auto;
    display: flex;
    margin-top: 30px;
    margin-left: 250px;
    margin-right: 250px;
  }
}

/* CSS FOR THE NEW BLOG ARTICLES */



@media (min-width: 920px) {

 .addressText, .address,.headerWhoFor {
  font-size: 35px;
  width: 100%;
  letter-spacing: 1.5;
  display: flex;
  justify-content: center;
 }

 
  
 .phoneBackground {
  width: 201px;
 }

  .boxOne {
    padding-left: 100px;
    padding-right: 100px;
  }

  .textSwimming {
    height: 785px;
  }

  .boxTwo {
    padding-left: 100px;
    padding-right: 100px;
    margin-top: 30px;
  }

  .boxThree {
    padding-left: 100px;
    padding-right: 100px;
    margin-top: 30px;
  }

  .firstIMG,
  .secondIMG,
  .thirdIMG,
  .fourthIMG,
  .fifthIMG,
  .sixthIMG {
    height: 240px;

  }

  .threeDivs {
    display: none;
    justify-content: space-evenly;
    align-items: center;

  }

  .secondThreeDivs {
    display: none;
    justify-content: space-evenly;
    align-items: center;

  }

}

@media (min-width: 550px) {
  #firstTwoOfffers {
    display: flex;
    flex-direction: row;
    justify-content: center;

  }

  .offer {
    height: 1150px;
  }

  .textSwimming {
    height: 785px;
  }

  .textSwimming p {
    display: flex;
    font-size: 23px;
    align-content: center;
    justify-content: space-around;
    margin-left: 100px;
    margin-right: 100px;
  }


}

@media (min-width: 950px) {
  #allThreeOffers {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

  }

  .textSwimming {
    height: 500px;
  }

  .secondOffer {
    margin-right: 50px;
    margin-left: 50px;
  }

  .offer {
    height: 770px;
  }

  .ourOffer {
    font-size: 50px;
  }

  .courses {
    font-size: 25px;
    width: 400px;
    text-align: center;
  }

  
  
}