.textWhySwimm {
  width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.textWhySwimm b {
  text-shadow: 2px 2px 3px black;
  color: white;
  margin: 0 auto;
  width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: flex-start;
    align-items: flex-start;
    
}

.textWhySwimm h1 {
  text-shadow: 2px 2px 3px black;
  color: white;
  display: flex;
  justify-content: center;
  margin: 20px;
}

.imgWhySwimm {
  height: 372px;
  width: 631px;
  display: flex;
  margin: 0 auto;
}

.bodyWhySwimm {
  background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;

  /* background-image: linear-gradient(to right top, #185b78, #1b6885, #1e7593, #2182a0, #2490ad); */
  
}