.textWhySwimm {
  width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.texts{
  text-shadow: 2px 2px 3px black;
    color: white;
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: flex-start;
    align-items: flex-start;
    padding: 15px;
    
}

.textWhySwimm h1 {
  text-shadow: 2px 2px 3px black;
  color: white;
  display: flex;
  justify-content: center;
  margin: 20px;
}

.imgWhySwimm {
  height: 372px;
  width: 631px;
  display: flex;
  margin: 0 auto;
}

.bodyWhySwimm {
  /* background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh; */
 /* background-image: linear-gradient(to right top, #185b78, #1b6885, #1e7593, #2182a0, #2490ad); */
 /* background-color: #185b78; */
 background-color: rgb(0, 55, 255, 0.7);

  
}

.imgArticleKids {
  height: 200px;
  margin: 0 auto;
  width: 80%;
  display: flex;
  justify-content: center;
}

.headerWhy {
  margin-top: 20px;
    margin-bottom: 20px;
    text-shadow: 2px 2px 3px black;
    color: white;
    text-align: center;
    font-size: 35px;
}

@media (min-width: 1000px) {

  .imgArticleKids {
    height: 440px;
    margin: 0 auto;
    width: 750px;
    display: flex;
    justify-content: center;
    box-shadow: 2px 0 10px black;
 
  }

  .texts  {
    font-size: 22px;
    display: flex;
    text-align: justify;
    margin: 0 auto;
    width: 1000px;
    margin-bottom: -250px;
  }

  .headerWhy {
    margin-top: 20px;
      margin-bottom: 20px;
      text-shadow: 2px 2px 3px black;
      color: white;
      text-align: center;
      font-size: 55px;
  }

}


